{% extends "partials/_layout.njk" %}

{% block content %}
	<div style="text-align: center;margin-top: 50px;">
		<button class="btn" style="margin-right: 50px;">Sign Up</button>
		<button class="btn btn-primary">Login</button>
	</div>
	<!-- Footer-->
	{% include "partials/_footer.njk" %}
	
{% endblock %}