{% extends "partials/_layout.njk" %}

{% block content %}

	<!-- Navbar -->
	{% include "partials/_navbar.njk" %}
	<div style="text-align: center;margin-top: 50px;">
		<button class="btn" style="margin-right: 50px;">Sign Up</button>
		<button class="btn btn-primary">Login</button>
	</div>
	<div style="text-align: center;margin-top: 50px;">
		<button class="btn btn-primary" style="margin-right: 50px;">Get started for free</button>
		<button class="btn" ">Schedule a demo</button>
	</div>
	<!-- Footer-->
	{% include "partials/_footer.njk" %}
	
{% endblock %}