<div class="deco-line"></div>
<footer class="footer row column-sm-up-10">
	<ul class="footer-column">
		<li class="footer-item footer-column-heading">Product</li>
		<li class="footer-item"><a href="#" class="footer-link">Features</a></li>
		<li class="footer-item"><a href="#" class="footer-link">integrations</a></li>
		<li class="footer-item"><a href="#" class="footer-link">Shopify Integration</a></li>
		<li class="footer-item"><a href="#" class="footer-link">Prciing</a></li>
		<li class="footer-item"><a href="#" class="footer-link">Chrome Extenssion</a></li>
	</ul>
	<ul class="footer-column">
		<li class="footer-item footer-column-heading">Company</li>
		<li class="footer-item"><a href="#" class="footer-link">Team</a></li>
		<li class="footer-item"><a href="#" class="footer-link">Customers</a></li>
		<li class="footer-item"><a href="#" class="footer-link">Blog</a></li>
		<li class="footer-item"><a href="#" class="footer-link">Term of Service</a></li>
		<li class="footer-item"><a href="#" class="footer-link">Privacy Policy</a></li>
	</ul>
	<ul class="footer-column">
		<li class="footer-item footer-column-heading">Support</li>
		<li class="footer-item"><a href="#" class="footer-link">Slack Community</a></li>
		<li class="footer-item"><a href="#" class="footer-link">Support Docs</a></li>
		<li class="footer-item"><a href="#" class="footer-link">Helpdesk API docs</a></li>
		<li class="footer-item"><a href="#" class="footer-link">Service Status</a></li>
		<li class="footer-item"><a href="#" class="footer-link">Email Contact</a></li>
	</ul>
	<ul class="footer-column">
		<li class="footer-item footer-column-heading">Projects</li>
		<li class="footer-item"><a href="#" class="footer-link">E-commerce Stack</a></li>
		<li class="footer-item"><a href="#" class="footer-link">Salary Calculator</a></li>
	</ul>
	<ul class="footer-column">
		<li class="footer-item footer-column-heading">Projects</li>
		<li class="footer-item"><a href="#" class="footer-link">E-commerce Stack</a></li>
		<li class="footer-item"><a href="#" class="footer-link">Salary Calculator</a></li>
	</ul>
	<ul class="footer-column">
		<li class="footer-item footer-column-heading">Contact</li>
		<li class="footer-item"><a href="#" class="footer-link">supprt@example.io</a></li>
		<li class="footer-item"><a href="#" class="footer-link">+1 (917) 859-3010</a></li>
	</ul>
</footer>