<nav class="navbar">
	<div class="logo">
		<img src="https://img.stockfresh.com/files/g/ggs/a/ggs.jpg" alt="">
	</div>

	<ul class="navbar-list">
		<li class="navbar-item"><a href="#" class="navbar-link navbar-link-item">Our Clinic</a></li>
		<li class="navbar-item"><a href="#" class="navbar-link navbar-link-item">EyeCare Service</a></li>
		<li class="navbar-item"><a href="#" class="navbar-link navbar-link-item">Contact Lenses</a></li>
		<li class="navbar-item"><a href="#" class="navbar-link navbar-link-item">Contact Us</a></li>
	</ul>

</nav>

<button class="menu-toggler js-menu-toggler">
	<svg class="menu-toggler-icon" xmlns="http://www.w3.org/2000/svg" height="32" width="32"><path d="M4 10h24a2 2 0 0 0 0-4H4a2 2 0 0 0 0 4zm24 4H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4zm0 8H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4z"/></svg>
</button>

