.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .row:before, .row:after {
    content: '';
    display: table; }
  .row:after {
    clear: both; }

[class*="column"] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

/* SMALL COLUMNS */
@media (min-width: 576px) {
  .column-sm-up-1 {
    width: 8.33333%; }
  .column-sm-up-2 {
    width: 16.66667%; }
  .column-sm-up-3 {
    width: 25%; }
  .column-sm-up-4 {
    width: 33.33333%; }
  .column-sm-up-5th {
    width: 20%; }
  .column-sm-up-5 {
    width: 41.66667%; }
  .column-sm-up-6 {
    width: 50%; }
  .column-sm-up-7 {
    width: 58.33333%; }
  .column-sm-up-8 {
    width: 66.66667%; }
  .column-sm-up-9 {
    width: 75%; }
  .column-sm-up-10 {
    width: 83.33333%; }
  .column-sm-up-11 {
    width: 91.66667%; }
  .column-sm-up-12 {
    width: 100%; } }

@media (max-width: 576px) {
  .column-sm-down-1 {
    width: 8.33333%; }
  .column-sm-down-2 {
    width: 16.66667%; }
  .column-sm-down-3 {
    width: 25%; }
  .column-sm-down-4 {
    width: 33.33333%; }
  .column-sm-down-5th {
    width: 20%; }
  .column-sm-down-5 {
    width: 41.66667%; }
  .column-sm-down-6 {
    width: 50%; }
  .column-sm-down-7 {
    width: 58.33333%; }
  .column-sm-down-8 {
    width: 66.66667%; }
  .column-sm-down-9 {
    width: 75%; }
  .column-sm-down-10 {
    width: 83.33333%; }
  .column-sm-down-11 {
    width: 91.66667%; }
  .column-sm-down-12 {
    width: 100%; } }

/* \.SMALL COLUMNS */
/* MEDIUM COLUMNS */
@media (min-width: 768px) {
  .column-md-up-1 {
    width: 8.33333%; }
  .column-md-up-2 {
    width: 16.66667%; }
  .column-md-up-3 {
    width: 25%; }
  .column-md-up-4 {
    width: 33.33333%; }
  .column-md-up-5th {
    width: 20%; }
  .column-md-up-5 {
    width: 41.66667%; }
  .column-md-up-6 {
    width: 50%; }
  .column-md-up-7 {
    width: 58.33333%; }
  .column-md-up-8 {
    width: 66.66667%; }
  .column-md-up-9 {
    width: 75%; }
  .column-md-up-10 {
    width: 83.33333%; }
  .column-md-up-11 {
    width: 91.66667%; }
  .column-md-up-12 {
    width: 100%; } }

@media (max-width: 768px) {
  .column-md-down-1 {
    width: 8.33333%; }
  .column-md-down-2 {
    width: 16.66667%; }
  .column-md-down-3 {
    width: 25%; }
  .column-md-down-4 {
    width: 33.33333%; }
  .column-md-down-5th {
    width: 20%; }
  .column-md-down-5 {
    width: 41.66667%; }
  .column-md-down-6 {
    width: 50%; }
  .column-md-down-7 {
    width: 58.33333%; }
  .column-md-down-8 {
    width: 66.66667%; }
  .column-md-down-9 {
    width: 75%; }
  .column-md-down-10 {
    width: 83.33333%; }
  .column-md-down-11 {
    width: 91.66667%; }
  .column-md-down-12 {
    width: 100%; } }

/* \.MEDIUM COLUMNS */
/* LARGE COLUMNS */
@media (min-width: 992px) {
  .column-lg-up-1 {
    width: 8.33333%; }
  .column-lg-up-2 {
    width: 16.66667%; }
  .column-lg-up-3 {
    width: 25%; }
  .column-lg-up-4 {
    width: 33.33333%; }
  .column-lg-up-5th {
    width: 20%; }
  .column-lg-up-5 {
    width: 41.66667%; }
  .column-lg-up-6 {
    width: 50%; }
  .column-lg-up-7 {
    width: 58.33333%; }
  .column-lg-up-8 {
    width: 66.66667%; }
  .column-lg-up-9 {
    width: 75%; }
  .column-lg-up-10 {
    width: 83.33333%; }
  .column-lg-up-11 {
    width: 91.66667%; }
  .column-lg-up-12 {
    width: 100%; } }

@media (max-width: 992px) {
  .column-lg-down-1 {
    width: 8.33333%; }
  .column-lg-down-2 {
    width: 16.66667%; }
  .column-lg-down-3 {
    width: 25%; }
  .column-lg-down-4 {
    width: 33.33333%; }
  .column-lg-down-5th {
    width: 20%; }
  .column-lg-down-5 {
    width: 41.66667%; }
  .column-lg-down-6 {
    width: 50%; }
  .column-lg-down-7 {
    width: 58.33333%; }
  .column-lg-down-8 {
    width: 66.66667%; }
  .column-lg-down-9 {
    width: 75%; }
  .column-lg-down-10 {
    width: 83.33333%; }
  .column-lg-down-11 {
    width: 91.66667%; }
  .column-lg-down-12 {
    width: 100%; } }

/* \.LARGE COLUMNS */
/* EXTRA LARGE COLUMNS */
@media (min-width: 1200px) {
  .column-xl-up-1 {
    width: 8.33333%; }
  .column-xl-up-2 {
    width: 16.66667%; }
  .column-xl-up-3 {
    width: 25%; }
  .column-xl-up-4 {
    width: 33.33333%; }
  .column-xl-up-5th {
    width: 20%; }
  .column-xl-up-5 {
    width: 41.66667%; }
  .column-xl-up-6 {
    width: 50%; }
  .column-xl-up-7 {
    width: 58.33333%; }
  .column-xl-up-8 {
    width: 66.66667%; }
  .column-xl-up-9 {
    width: 75%; }
  .column-xl-up-10 {
    width: 83.33333%; }
  .column-xl-up-11 {
    width: 91.66667%; }
  .column-xl-up-12 {
    width: 100%; } }

@media (max-width: 1200px) {
  .column-xl-down-1 {
    width: 8.33333%; }
  .column-xl-down-2 {
    width: 16.66667%; }
  .column-xl-down-3 {
    width: 25%; }
  .column-xl-down-4 {
    width: 33.33333%; }
  .column-xl-down-5th {
    width: 20%; }
  .column-xl-down-5 {
    width: 41.66667%; }
  .column-xl-down-6 {
    width: 50%; }
  .column-xl-down-7 {
    width: 58.33333%; }
  .column-xl-down-8 {
    width: 66.66667%; }
  .column-xl-down-9 {
    width: 75%; }
  .column-xl-down-10 {
    width: 83.33333%; }
  .column-xl-down-11 {
    width: 91.66667%; }
  .column-xl-down-12 {
    width: 100%; } }

/* \.EXTRA LARGE COLUMNS */
/************ TEST *************/

/*# sourceMappingURL=main.css.map */
