$blue: #448aff !default;
$red: #f53d55 !default;
$green: #06d79c !default;
$purple: #543bcc !default;
$orange: #ff9b53 !default;
$darkgray: #2c4267 !default;

$primary: $blue !default;
$secondary: $darkgray !default;